

 
  .sideDrawer {
    position: fixed;
    top: 0;
    left: -300px; 
    width: 300px;
    height: 100%;
    background-color: #282A3A;
    transition: left 0.3s ease-in-out;
    z-index: 1000;
    color: #cfcfd1;
    padding: 10px 20px;
  }
  .open {
    left: 0; 
  }
  
  .sideDrawer h2 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .formGroup {
    margin-bottom: 10px;
  }
  
  .form input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .form input:focus{
    outline: none;
  }
  .close{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    border: none;
    outline: none;
    background-color:#fff;
    color: #000;
    top: 15px;
    right: 25px;
  }
  .form .addevent {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .form .addevent:hover{
    transition: all 0.3s ease;
    background-color: #0567cf;
  }
  .form-group label {
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  